/* 
body{ background-color: #D76C82;
} */
*{color:#273238;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: grey;
}.cards{
margin-bottom: 400px;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    margin:0 auto;
 
}
/* .card{
    border-radius: 10px;
    height:900px;
    width: 400px;
} */
 .card{ line-height: 0.8em;
    background-color:red;
    height: 550px;
    border-color:#273238;
    border-style: solid;
    border-radius:  10px ;
    background-color:wheat
 }
h1{ text-align: center;
font-family: arial;
font-weight: bold;
}
p{
    font-size: medium;
    font-weight:lighter;
}
button{
    font-size: 16px;
    font-weight: bolder;
}
