
*{
    box-sizing: border-box;
    /* color: #003049; */
    color:black;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
   margin:0 auto;
   width:80%
}.card{
    
   width:350px;
   height: 500px;
   /* background-color: #fdf0d5; */
   box-shadow: 1px 1px 1px 1px #888888;
   border-bottom: 1px;
border-radius: 15px;
/* border-bottom-left-radius:  80px 80px;
border-top-right-radius:   80px 80px; */
display: flex;
flex-direction:column;
align-items: center;
margin:0 auto;
border:15px;



}
img{
width: 350px;
height: 250px;
/* border-top-right-radius:   80px 80px; */
border-top-left-radius: 15px;
border-top-right-radius: 15px;

}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1.6rem;
    
    

}
p{text-align: center;
    margin-top: 0px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
line-height: 1.2em;}

span{
    text-decoration-color: #888888;
    font-weight: normal;
    font-size: 1em;
    color: #003049;
    text-align: center;
}
button{
    width:150px;
    height: 30px;
    text-align: center;
    background-color: #c1121f;
    color:#fdf0d5;
    border-radius: 15px;
    border-color: #003049;
    font-size: 1.2em;
    font-weight: lighter;
    
  

}
