*{
    box-sizing: border-box;
    color: #06090f;

   
}
section{
    display: flex;
    flex-direction:column;
    gap:40px;
}
.part{display:none;
width:black;}
.qcm{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8d77ca;
    width: 40%;
 
    height: 400px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px #888888;
    border-bottom: 1px;
 border-radius: 15px;
 border-top-style: hidden;
 border-top-right-radius: 80px;
 border-bottom-left-radius: 80px;
   position: relative;
    
}


 h1{
   display:flex;
   justify-content: end;
   font-family:cursive;
    
}
.qcm h2{
    
    /* border-radius: 80px; */
    text-align: center;
    padding:10px;

    

}

.btn_qcm{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
   
}
.btn_qcm button{
    width: 200px;
    height: 40px;
    /* border-radius: 80px; */
    background-color:#f8f9fc;
 border-color: #f8f9fc;



    
}
  .next  button{
 background-color: #8d77ca;
 width:150px;
 margin-top: 10px;
 height:40px;
 cursor: pointer;
 margin-left: 100px;



}
.choix{
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #8d77ca; */
    width: 40%;
 
    height: 400px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px #888888;
    border-bottom: 1px;
 border-radius: 15px;

 border-top-right-radius: 80px;
 border-bottom-left-radius: 80px;
 position: relative;
 

}
.choix_btn{
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.part{
    display:flex;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items:flex-start;
    gap:10px;
}
.choix_btn{
    display: flex;
    justify-content: space-between;
    gap:50px;
    text-align: center;

}

.choix_btn button{
    display: grid;
    grid-template-columns: 1fr ;
    justify-content:space-around;
   gap:50px;
         width:180px;
         height: 35px;
         background-color: #8d77ca;
         text-align: center;
         padding:10px
          
        
    
}
.choix .next  button{
    background-color: #001B48;
    width:150px;
    margin-top: 5px;
    height:40px;
    cursor: pointer;
    margin-left: 120px;
    
   
   
   
   
   }
   .textuelle{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8d77ca;
    width: 40%;
    position: relative;
 
    height: 400px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px 1px #888888;
    border-bottom: 1px;
 border-radius: 15px;
 border-top-style: hidden;
 border-top-right-radius: 80px;
 border-bottom-left-radius: 80px;
 gap:20px;
 
   }
   .textuelle input{

  
      
        width: 80%;
        height: 50px;
       text-align:  center;

   }
   .textuelle .next  button{
    background-color: #8d77ca;
    width:150px;
    margin-top: 5px;
    height:40px;
    cursor: pointer;
    margin-left: 40px;}
    
   
   
   
   

